{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia: {{ entry }}
{% endblock %}

{% block body %}

    {% if entry_content == none %}
        The requested page was not found.
    {% else %}
        <div id="text-content">
            {% autoescape off %}
                {{ entry_content }}
            {% endautoescape %}
        </div>
        <div>
            <a href="{% url 'edit_page' entry=entry %}">Edit</a>
        </div>
    {% endif %}

{% endblock %}